.attribution {
  font-size: 14px;
  text-align: center;
  color: hsl(0, 36%, 70%);
  margin-top: 20px;
}

.attribution a {
  color: hsl(0, 93%, 68%);
  text-decoration: none;
  font-weight: 600;
}

.attribution a:hover {
  text-decoration: underline;
}
